ol{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
a{
    margin: 10px;
    color:rgba(255, 255, 255, 0.759) !important;

}
nav{
  background-color: rgba(137, 43, 226, 0.493);
  box-shadow: 1px 1px 10px black;
  width: 100%;
}
.app{
  width: 100%;
}
body{
  width: 100%;
}